<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{count}}
        <button @click="count++">click</button>
        千米<input type="text" v-model="kilometers">
        <br />
        米<input type="text" v-model="meters">
    </div>
    <script src="vue.js"></script>
    <script>
        let vue=new Vue({
            el:"#app",
            data:{
                count:0,
                kilometers:0,
                meters:0,
            },
            watch: {
                kilometers:function(){
                    this.meters=this.kilometers*1000;
                },
                meters:function(val){
                    this.kilometers=val/1000;
                }
            }
        })
            //watch能够检测属性的变化，当检测到变化的时候可以在回调函数中添加需要的操作
        vue.$watch("count",function(newVal,oldValue){
            console.log(newVal,oldValue)
        })
    </script>
</body>
</html>